$mainColor: #5bb674;

app{
  background: blue;
}
.cuerpo-tabla{
  margin: 0 10%;
}
tr td{
  border: 0px;
  border-top: 1px solid rgba(34,36,38,.1);
  padding:3px;

}
tr:hover td{
  background-color: lighten($mainColor,40);
  
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: auto;
}
