.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

header {
  background-color: #5bb674; }
  header h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-align: start; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#seguimiento-donativos {
  width: 90%;
  max-width: 600px;
  margin: auto; }

#seguimiento-donativos p {
  text-align: justify; }
