$mainColor: #5bb674;
$textColorOnDark: #eee;

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
header {
  background-color: $mainColor;
  h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-align: start;
    font-weight: 200;
    font-size: 2.7vw;
    padding: 10px;
    font-family: "Open Sans Condensed", sans-serif;
  }
}
h2 {
  margin: 0;
  text-transform: uppercase;
  &.subtitle {
    color: $mainColor;
  }
}
a,
strong {
  color: $mainColor;
}
div#intro {
  position: relative;

  background-color: #1a1a1a;
  color: $textColorOnDark;
  padding: 20px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    z-index: 1;
  }
  #bgOpacity{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
  }

  p {
    line-height: 1.3;
    font-family: sans-serif;
  }

  div#seguimiento-donativos{
    z-index: 100;
    position: relative;
  }
  div.seguimiento-donativos-texto {
    z-index: 10;
  }
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#seguimiento-donativos {
  width: 90%;
  max-width: 600px;
  margin: auto;
}
#seguimiento-donativos p {
  text-align: center;
}
